<div class="d-flex flex-column m-5">
  <form>
    <form [formGroup]="myForm" class="form-container">
      <ng-container formArrayName="urls">
        <label for="formGroupExampleInput"
          >Entre la/les Url ou vous aller faire le recherche (max 2 url)</label
        >
        <ng-container
          *ngFor="let _ of urls.controls; let idx = index"
          [formGroupName]="idx"
        >
          <div class="form-inline mb-1">
            <input
              class="form-control bg-white"
              style="width: 80%"
              formControlName="url"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let item of filteredOptions" [value]="item">
                {{ item }}
              </mat-option>
            </mat-autocomplete>

            <button
              class="btn btn-danger btn-sm ml-1"
              [disabled]="isDisabledRemove"
              (click)="removeUrl(idx)"
            >
              x
            </button>
          </div>
        </ng-container>
      </ng-container>

      <button
        class="bn btn-primary"
        [disabled]="isDisabledAdd"
        (click)="addUrl()"
      >
        Add new
      </button>
    </form>

    <div class="form-group">
      <label for="formGroupExampleInput2">Mots-clés de l'Alerte</label>

      <mat-form-field
        class="example-chip-list bg-white"
        style="width: 100%"
        appearance="fill"
      >
        <mat-label>Mot('s) Cles</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let str of motCleList" (removed)="remove(str)">
            {{ str }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Autre Mot Cle..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>
    </div>

    <button
      [disabled]="isMaxRecherhe"
      class="w-100 btn-danger"
      (click)="onRecherhe()"
    >
      Recherche
    </button>

    <div [hidden]="!isMaxRecherhe" class="alert alert-danger mt-3" role="alert">
      Max Number Of Scraper (2) Running!
    </div>

    <div [hidden]="!isScraping" class="text-center position-relative mt-5">
      <div class="spinner-border" role="status"></div>
      <h4>La Recherche est encour</h4>
    </div>
  </form>
</div>
