<div class="">
  <div class="d-flex flex-row">
    <div class="main-content w-30 m-0 p-0">
      <div class="container-fluid pl-1">
        <div>
          <div class="col-md-8 m-0 p-0 mw-100">
            <div class="card overflow-auto pt-5">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Feed</h4>
                <p class="card-category">Les Sites de Réferences</p>
              </div>
              <div class="vh-100">
                <div class="h-100 d-flex flex-column flex-shrink-0 bg-white">
                  <!-- <a
                  href="/"
                  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
                >
                  <svg class="bi pe-none me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                  </svg>
                  <span class="fs-4">Sidebar</span>
                </a> -->
                  <hr />
                  <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                      <a href="#" class="nav-link active" aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16">
                          <use xlink:href="#home" />
                        </svg>
                        Home
                      </a>
                    </li>
                    <li
                      *ngFor="let c of rootList"
                      data-color="danger"
                      data-background-color="white"
                    >
                      <a
                        class="nav-link link-dark text-secondary"
                        style="cursor: pointer"
                        (click)="getCurrentRoot(c)"
                      >
                        {{ c }}
                      </a>
                      <hr />
                    </li>
                  </ul>
                  <hr />
                  <!-- <div class="dropdown">
                  <a
                    href="#"
                    class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <img
                      src="https://github.com/mdo.png"
                      alt=""
                      width="32"
                      height="32"
                      class="rounded-circle me-2"
                    />
                    <strong>mdo</strong>
                  </a>
                  <ul class="dropdown-menu text-small shadow">
                    <li>
                      <a class="dropdown-item" href="#">New project...</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 overflow-auto">
      <div class="d-flex flex-column" style="width: 80%">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header">
            <h3>
              <strong>{{ currentRoot }} </strong>
            </h3>
          </div>
        </div>

        <select
          (click)="selecting_mot_cle()"
          id="select_mot_cle"
          class="select"
          multiple
        >
          <option *ngFor="let it of mot_cles">
            <span value="{{ it }}">
              {{ it }}
            </span>
          </option>
        </select>
      </div>

      <!--  <app-data-table
        *ngIf="currentRoot; else noCurrentRoot"
        [rootProperty]="currentRoot"
        [feedData]="data"
      ></app-data-table>
      <ng-template #noCurrentRoot> noCurrentRoot </ng-template> -->
      <div
        *ngIf="isWaiting; else notWaiting"
        [hidden]="!isWaiting"
        class="text-center position-relative"
        style="top: 15%"
      >
        <div class="spinner-border" role="status"></div>
        <h4>Loading...please waite</h4>
      </div>
      <ng-template #notWaiting>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div
                  class="card-header card-header-danger d-flex justify-content-between"
                >
                  <div>
                    <h4 class="card-title">{{ currentRoot }}</h4>
                    <p class="card-category">
                      Here is a subtitle for this table
                    </p>
                  </div>
                  <strong>{{ dataSelectedLeght }} Items</strong>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <th *ngFor="let key of keys">
                          {{ key }}
                        </th>
                        <th>Link</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of data">
                          <ng-container *ngFor="let key of keys">
                            <td>{{ item[key] }}</td>
                          </ng-container>
                          <td>
                            <button
                              [disabled]="noUrlBtn"
                              class="btn btn-danger m-1 p-1 text-capitalize"
                              (click)="clickMe(item)"
                            >
                              Voir plus de détail
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- <h4>
        keys :
        <p>{{ keys }}</p>
      </h4> -->
      <!-- <h4>this is data :{{ data[0] }}</h4> -->
    </div>
  </div>
</div>
