<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 (click)="onClick()" class="card-title">{{ rootProperty }}</h4>
          <p class="card-category">Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <!-- <thead class="text-primary">
                <th>ID</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Salary</th>
              </thead> -->
              <thead class="text-primary">
                <th *ngFor="let key of keys">
                  {{ key }}
                </th>
              </thead>
              <!-- for data : *ngFor in tr and values in td -->
              <tbody>
                <tr *ngFor="let item of data">
                  <ng-container *ngFor="let key of keys">
                    <td>{{ item[key] }}</td>
                  </ng-container>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Minerva Hooper</td>
                  <td>Curaçao</td>
                  <td>Sinaai-Waas</td>
                  <td class="text-primary">$23,789</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4>
  keys :
  <p>{{ keys }}</p>
</h4>
<!-- <h4>this is data :{{ data[0] }}</h4> -->
