<div>
  <form method="post" action="/run_search">
    <div class="row mt-2">
      <div class="col-md-5 mx-auto">
        <div class="input-group">
          <input
            name="search_query"
            class="form-control border-end-0 border rounded-pill"
            type="search"
            placeholder="search"
            id="example-search-input"
            value=" {{request.form['search_query'] }}  "
          />
          <!-- <span class="input-group-append">
        <button
          class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5"
          type="button"
        >
          
        </button>
      </span> -->
        </div>
      </div>
    </div>
  </form>
  <div>
    <table class="table table-striped">
      {% for key in my_data.keys() %} {% if my_data[key] %}
      <thead>
        <tr>
          <th>
            <h3>{{key}}</h3>
            <div
              class="card text-white bg-secondary mb-3"
              style="max-width: 15rem"
            >
              <div class="card-body">
                <h5 class="card-title">{{ data_len[key] }} Total Item</h5>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <!-- if my_data[key] not null -->
          {% if my_data[key][1] %} {% for k in my_data[key][1].keys() %}
          <th>{{ k }}</th>
          {% endfor %} {%endif%}
        </tr>
      </thead>

      <tbody>
        {% for item in my_data[key] %}
        <tr>
          {% for val in item.values() %}
          <td>{{val}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        <!-- endif -->
      </tbody>
      {% endif %} {% endfor %}
    </table>
  </div>
</div>

<style>
  td {
    width: 100px;
    max-width: 100px;
    min-height: 50px;
    word-wrap: break-word;
  }
</style>
