<nav class="navbar navbar-expand-lg navbar-transparent w-100">
  <!-- class="navbar-dark bg-dark navbar navbar-expand-lg navbar-absolute fixed-top"
class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top" -->
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:void(0)">{{ getTitle() }}</a>
    </div>
    <button
      mat-raised-button
      class="navbar-toggler"
      type="button"
      (click)="sidebarToggle()"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <form [formGroup]="searchForm" class="navbar-form">
        <div class="input-group no-border" [hidden]="isSearch">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Search..."
            formControlName="searchValue"
          />
          <button
            mat-raised-button
            type="submit"
            class="btn btn-white btn-round btn-just-icon"
            (click)="search()"
          >
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </form>

      <div
        class="spinner-border spinner-border-sm"
        role="status"
        [hidden]="showSearchIcon"
      >
        <span class="sr-only">Loading...</span>
      </div>

      <ul class="navbar-nav">
        <li (click)="onDashboard()" class="nav-item">
          <a class="nav-link" href="javascript:void(0)">
            <i class="material-icons">dashboard</i>
            <p>
              <span class="d-lg-none d-md-block">Stats</span>
            </p>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="javascript:void(0)"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="navigateToFavorite()"
          >
            <i class="material-icons">notifications</i>
            <span class="notification">{{ nomberOfNotification }}</span>
            <p>
              <span class="d-lg-none d-md-block">Some Actions</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            mat-button
            [matMenuTriggerFor]="menu"
            href="javascript:void(0)"
          >
            <i class="material-icons">person </i>
            <p>
              <span class="d-lg-none d-md-block">Account </span>
            </p>
          </a>

          <mat-menu #menu="matMenu">
            <button (click)="signInOutHandler()" mat-menu-item>
              <strong>{{ signStatus }} </strong>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
